<div class="home-container">
   
        <div class="home-container-top">
            @if(currentuserRole == adminrole ) {
            <div class="add-button" routerLink="/book-form">
                <mat-icon class="add-button-icon">add_circle</mat-icon>
                Add Books
            </div>
        }@else{
            <h1>Books</h1>
        }
        </div>
    <div class="home-container-sub">    
        @for (book of bookStore.books(); track book.id) {
        <div class="book-card" (click)="bookDetails(book.id)" >
            <img class="book-image" [src]="book.image" alt="Book Image">
            <div class="book-details">
                <h2 class="book-title">{{ book.title }}</h2>
                <p class="book-author">{{ book.author }}</p>
                <p class="book-description">{{ book.description }}</p>
                <p class="book-info">Release Date: <span class="release-date">{{ book.releaseDate }}</span></p>
                <p class="book-info">Availability: <span class="availability">{{ book.available ? 'Available' : 'Not
                        Available' }}</span></p>
                @if(currentuserRole == adminrole ) {
                <button class="reserve-button" (click)="editBook(book.id, $event)">
                   Edit</button>
                }
                @else{
                <button class="reserve-button" (click)="borrowBook(book.id, $event)">borrow</button>
                }
            </div>
        </div>
        }
    </div>
</div>