.signup-main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

.signup-container {
    display: flex;
    background-color: #949eff;
    border-radius: 20px;
    max-height: 450px;
    max-width: 700px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.signup-container-left {
    flex: 45%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;

}

.signup-container-left .slogan {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    padding: 20px;

}

.signup-container-right {
    flex: 55%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    max-height: 450px;
}

.signup-container-right form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.signup-container-right .form-group {
    margin-bottom: 5px;

}

.signup-container-right input[type="text"],
.signup-container-right input[type="email"],
.signup-container-right input[type="password"],
.signup-container-right select {
    width: 60%;
    padding: 5px;
    /* border: 1px solid #949eff; */
    border-radius: 20px;
    font-size: 14px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
}

.signup-container-right .terms {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.signup-container-right .terms input[type="checkbox"] {
    margin-right: 10px;
    border: 1px solid #949eff;
    cursor: pointer;
}

.signup-container-right button {
    background-color: #224cd8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.signup-container-right button:hover {
    background-color: #5c5c5c;
}

.error {
    color: red;
    font-size: 0.5em;
}


.signIn-text-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
}

.signIn-text {
    color: #4f5fe7;
    cursor: pointer;
}


.is-invalid {
    padding: 0px;
    margin: 0px;
}


