<div class="signup-main-container">
    <div class="signup-container">
        <div class="signup-container-left">
            <h1 class="slogan">Empowering Readers, Learning from the Best: Register Today!</h1>
            <img src="{{ svgPath }}" alt="Example SVG">
        </div>
        <div class="signup-container-right">
            <h2>Create Account</h2>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="text" formControlName="fullname" placeholder="Full Name" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }">
                    @if (submitted && (f['fullname'].errors && f['fullname'].errors['required'])) {
                    <div class="invalid-feedback">
                        <div>Full Name is required</div>
                    </div>
                    }
                </div>

                <div class="form-group">
                    <input type="email" formControlName="email" placeholder="Email Address" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && (f['email'].errors && f['email'].errors['required'] || f['email'].errors && f['email'].errors['email']) }">
                    @if (submitted && (f['email'].errors && f['email'].errors['required'])) {
                    <div class="invalid-feedback">Email is required</div>
                    }
                    @if (submitted && (f['email'].errors && f['email'].errors['email'])) {
                    <div class="invalid-feedback">Invalid email format</div>
                    }
                </div>

                <div class="form-group">
                    <input type="password" formControlName="password" placeholder="Password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && (f['password'].errors && f['password'].errors['required'] || f['password'].errors && f['password'].errors['minlength'] || f['password'].errors && f['password'].errors['maxlength']) }">
                    @if (submitted && (f['password'].errors && f['password'].errors['required'])) {
                    <div class="invalid-feedback">Password is required</div>
                    }
                    @if (submitted && (f['password'].errors && f['password'].errors['minlength'])) {
                    <div class="invalid-feedback">Password must be at least 6 characters</div>
                    }
                    @if (submitted && (f['password'].errors && f['password'].errors['maxlength'])) {
                    <div class="invalid-feedback">Password must not exceed 40 characters</div>
                    }
                </div>

                <div class="form-group">
                    <input type="password" formControlName="confirmPassword" placeholder="Confirm Password"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && (f['confirmPassword'].errors && f['confirmPassword'].errors['required'] || form.hasError('match', 'confirmPassword')) }">
                    @if (submitted && (f['confirmPassword'].errors && f['confirmPassword'].errors['required'])) {
                    <div class="invalid-feedback">Confirm Password is required</div>
                    }
                    @if (submitted && form.hasError('match', 'confirmPassword')) {
                    <div class="invalid-feedback">Passwords do not match</div>
                    }
                </div>

                <div class="form-group">
                    <label for="role">Role</label>
                    <select formControlName="role" id="role" class="form-control">
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>

                <div class="form-group terms">
                    <input type="checkbox" formControlName="acceptTerms" id="agree" class="form-check-input"
                        [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors && f['acceptTerms'].errors['required'] }">
                    <label for="agree" class="form-check-label">I agree to the Terms and Privacy Policies</label>
                    @if (submitted && (f['acceptTerms'].errors && f['acceptTerms'].errors['required'])) {
                    <div class="invalid-feedback">You must agree to the terms</div>
                    }
                </div>

                <button type="submit" class="btn btn-primary" routerLink="dashboard">Sign Up</button>
            </form>
            <div class="signIn-text-container">
                <h4>Already have an account?
                </h4>
                <h4 class="signIn-text" routerLink="login"> Sign In</h4>
            </div>
        </div>
    </div>
</div>