<!-- <mat-sidenav-container fullscreen> -->
<mat-sidenav #sidenav mode="side" class="sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true"
  (mouseleave)="decrease()">


  <mat-nav-list>
    <mat-list-item routerLink="/dashboard/home" routerLinkActive="active" style="display: flex; align-items: center;">
      <mat-icon mat-list-icon class="icon">home</mat-icon>
      <div *ngIf="sidenavWidth > 6" class="sidenav-item">
        <h5 class="lead">Home</h5>
      </div>
    </mat-list-item>
    <mat-list-item routerLink="/dashboard/profile" routerLinkActive="active">
      <mat-icon mat-list-icon class="icon">person</mat-icon>

      <div *ngIf="sidenavWidth > 6" class="sidenav-item">
        <h5 class="lead">About</h5>
      </div>
    </mat-list-item>

    <mat-list-item outerLink="/dashboard/profile" routerLinkActive="active">
      <mat-icon mat-list-icon class="icon">settings</mat-icon>
      <div fxFlex="10"></div>
      <div *ngIf="sidenavWidth > 6" class="sidenav-item">
        <h5 class="lead">Services</h5>
      </div>
    </mat-list-item>


  </mat-nav-list>
</mat-sidenav>




<!-- </mat-sidenav-container> -->